<div class="container my-5">
  <h2 class="mb-3 text-center">Edit Employee</h2>
  <div class="row justify-content-center">
    <div class="col-10">
      <form #form="ngForm" (ngSubmit)="updateEmployee()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="dataFromParent.name"
            [formControl]="nameFormControl"
          />
          <div
            *ngIf="nameFormControl.hasError('required')"
            class="invalid-message"
          >
            Name is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="dataFromParent.email"
            [formControl]="emailFormControl"
          />
          <div
            *ngIf="emailFormControl.hasError('required')"
            class="invalid-message"
          >
            Email is required.
          </div>
          <div
            *ngIf="emailFormControl.hasError('email')"
            class="invalid-message"
          >
            Please enter a valid email.
          </div>
        </div>

        <div class="mb-4">
          <label for="department" class="form-label">Department</label>
          <div class="custom-select">
            <select
              class="form-control"
              id="department"
              name="department"
              [(ngModel)]="dataFromParent.departmentName"
            >
              <option
                *ngFor="let department of depts"
                [value]="department.deptName"
              >
                {{ department.deptName }}
              </option>
            </select>
            <div class="select-caret"></div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary me-3"
          [disabled]="!(dataFromParent.name && dataFromParent.email)"
        >
          Save Changes
        </button>
        <button type="button" class="btn btn-dark" (click)="closeModal()">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
