<div class="container my-5">
  <h1 class="mb-3">Add New Employee</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addEmployee()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="addEmployeeRequest.name"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="addEmployeeRequest.email"
          />
        </div>

        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <select
            class="form-control"
            id="department"
            name="department"
            [(ngModel)]="selectedDept"
          >
            <option
              *ngFor="let department of depts"
              [value]="department.deptName"
            >
              {{ department.deptName }}
            </option>
          </select>
        </div>
        <button
          type="submit"
          class="btn btn-primary me-3"
          [disabled]="
            !(
              addEmployeeRequest.name &&
              addEmployeeRequest.email &&
              selectedDept
            )
          "
        >
          Save
        </button>
        <button type="button" class="btn btn-dark" (click)="goBack()">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
